table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.strikeout td.strike-able:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}
/* 
NOTE: I had to look up the strike through styling. I got it from here: 
https://stackoverflow.com/questions/4619542/linethrough-strikethrough-a-whole-html-table-row
Who seems to have gotten it from here:
https://codepen.io/nericksx/pen/CKjbe

I don't totally understand it. 
*/

body {
    font-family: 'Raleway', sans-serif;
    background-color: #C8C8C8;
}

.input-group {
    width: 60%;
    margin: 0 auto;
}

td, th {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.green {
    background-color: #A3FEBF;
}
.jumbotron {
    padding-bottom: 10px;
}
